/* Colors
 * Gold #c89841
 * Black / White
 * Fonts Adam / Mission gothic
 * */


@font-face
{
font-family: adam;
src: url(fonts/ADAM.otf);
}

@font-face
{
font-family: missiongothic;
src: url(fonts/missiongothicregular.otf);
}

h1 {
	font-family: adam;
}


h3 {
	color: black;
	font-family: adam;
}
p {
	font-family: adam;
	color: white;
}

.black {
	color:black;
}

.white  {
	color:white;
}

.introphoto {
	max-width:50%;
	float:right;
}
/* MAPS STYLES */
 
 html {
	height: 100%
	}
 body {
	height: 100%;
	margin: 0;
	padding: 0
	}
 #map-canvas {

	height: 50%;
	width:90%;
	margin-right:50px;
	margin-left:50px;
	margin-bottom:20px;
	}
	


/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(imgs/bg1.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-image: url(imgs/bg2.jpg);
		padding: 6% 0 0 0;
	}

/* Tweet style
 */
 .tweet {
	font-family:Arial;
	color:white;
}

.sharetweets {
	border:3px solid #c89841;
	background-color:black;
	text-align:center;
	margin-left:50px;
	margin-right:50px;
	border-radius:15px;
}

/* tables style
 */

.tablestyle {
	margin-bottom:100px;
	margin-right:50px;
	margin-left:50px;
}

